<div class="container">
  <div [hidden]="submitted">
    <h1>Submit a Single Track (26/10/2023)</h1>
    <form (ngSubmit)="onSubmit()" #singleTrackForm="ngForm">
      <div class="form-group">
        <label for="artist">Artist</label>
        <input type="text" class="form-control" id="artist"
               required
               [(ngModel)]="model.artist" name="artist" #artist="ngModel">
        <div [hidden]="artist.valid || artist.pristine"
             class="alert alert-danger">
          Artist is required
        </div>
      </div>

      <div class="form-group">
        <label for="album">Album</label>
        <input type="text" class="form-control" id="album" required
               [(ngModel)]="model.album" name="album" #album="ngModel">
        <div [hidden]="album.valid || album.pristine"
             class="alert alert-danger">
          Album is required
        </div>
      </div>

      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" required
               [(ngModel)]="model.title" name="title" #title="ngModel">
        <div [hidden]="title.valid || title.pristine"
             class="alert alert-danger">
          Title is required
        </div>
      </div>

      <button type="button" class="btn btn-success" [disabled]="!singleTrackForm.form.valid" (click)="scrobbleTrack();">Submit</button>
    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>Scrobble Response:</h2>
    <div class="row">
      <div class="col-xs-3">Accepted</div>
      <div class="col-xs-9">{{ scrobbleResponse.accepted }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Ignored</div>
      <div class="col-xs-9">{{ scrobbleResponse.ignored }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Status</div>
      <div class="col-xs-9">{{ scrobbleResponse.status }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Message</div>
      <div class="col-xs-9">{{ scrobbleResponse.message }}</div>
    </div>
    <br>
    <button type="button" class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div>
</div>
  